@media only screen and (min-width: 576px) {
  div.small-container {
    width: 680px;
  }
}

.quote {
  font-size: 2em;
  font-family: 'Raleway', serif;
}

.about-me .row {
  margin-top : 50px;
}

.about-me img {
  padding-right:30px;
}

.social-network ul {
  list-style: none;
  padding-left: 0;
}

.social-network li {
  display: inline;
  padding-right: 10px
}

footer li{
  padding:20px;
  display:inline;
}

footer {
  margin-top:40px;
}

.article {
  padding-bottom :0;
}

body{
  font-family: raleway;
  line-height: 25px;
}

h1 {
  margin-bottom: 20px;
  margin-top: 20px;
  font-family: raleway;
}

h2 {
  margin-bottom: 40px;
  margin-top: 40px;
  font-family: raleway;
}

h3 {
  margin-bottom: 20px;
  margin-top: 20px;
  font-family: raleway;
}

p {
margin-bottom: 20px;
}

.social-network ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-network li{
  display:inline;
  padding-right: 20px;
  font-size: 1.5em;
}

#navbarNav {
  display: flex;
  justify-content: flex-end;
}

.display-4 {
  font-family: raleway;
  font-size: 3em;
}

.jumbotron {
  background-color: #ffffff;
}

.bg-white {
  background-color: #ffffff;
}

.fa-linkedin {
  color: #212529;
}

.fa-medium {
  color: #212529;
}

.navbar {
  padding-top: 10px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  margin: 40px;
}

#comp-k51jny5zinlineContent {
    height: auto;
    width: 100%;
    position: relative;
}

#comp-k51jny5zinlineContent-gridWrapper {
    pointer-events: none;
}

#comp-k51jny5zinlineContent-gridContainer {
    position: static;
    display: grid;
    height: auto;
    width: 100%;
    min-height: 591px;
    grid-template-rows: 1fr;
    grid-template-columns: 100%;
}

#comp-k51jp5k3 {
    position: relative;
    margin: 110px 0px 10px calc((100% - 980px) * 0.5);
    left: 0px;
    grid-area: 1 / 1 / 2 / 2;
    justify-self: start;
    align-self: start;
}

#comp-k51jny5zcenteredContent {
    position: relative;
}

#comp-k51jny5zinlineContent-gridContainer > * {
    pointer-events: auto;
}

#comp-k51jny5zinlineContent-gridContainer > [id$="-rotated-wrapper"] {
    pointer-events: none;
}

#comp-k51jny5zinlineContent-gridContainer > [id$="-rotated-wrapper"] > * {
    pointer-events: auto;
}

#comp-k51jp5k3inlineContent {
    height: auto;
    width: 980px;
    position: relative;
}

#comp-k51jp5k3inlineContent-gridWrapper {
    pointer-events: none;
}

#comp-k51jp5k3inlineContent-gridContainer {
    position: static;
    display: grid;
    height: auto;
    width: 100%;
    min-height: auto;
    grid-template-rows: min-content min-content min-content min-content min-content min-content min-content min-content 1fr;
    grid-template-columns: 100%;
}

#comp-k51jp5oo {
    position: relative;
    margin: 0px 0px 5px 0;
    left: 0px;
    grid-area: 1 / 1 / 2 / 2;
    justify-self: start;
    align-self: start;
}

#comp-k51jp5v2 {
    position: relative;
    margin: 0px 0px 11px 0;
    left: 0px;
    grid-area: 2 / 1 / 3 / 2;
    justify-self: start;
    align-self: start;
}

#comp-k51jp60k {
    position: relative;
    margin: 0px 0px 5px 0;
    left: 650px;
    grid-area: 1 / 1 / 2 / 2;
    justify-self: start;
    align-self: start;
}

#comp-k51jp65e {
    position: relative;
    margin: 0px 0px 40px 0;
    left: 650px;
    grid-area: 2 / 1 / 3 / 2;
    justify-self: start;
    align-self: start;
}

#comp-k51jp6am {
    position: relative;
    margin: 0px 0px 5px 0;
    left: 650px;
    grid-area: 3 / 1 / 4 / 2;
    justify-self: start;
    align-self: start;
}

#comp-k51jp6g1 {
    position: relative;
    margin: 0px 0px 5px 0;
    left: 0px;
    grid-area: 4 / 1 / 5 / 2;
    justify-self: start;
    align-self: start;
}

#comp-k51jp6lf {
    position: relative;
    margin: 0px 0px 0px 0;
    left: 0px;
    grid-area: 5 / 1 / 10 / 2;
    justify-self: start;
    align-self: start;
}

#comp-k51jp6r7 {
    position: relative;
    margin: 0px 0px 10px 0;
    left: 650px;
    grid-area: 4 / 1 / 5 / 2;
    justify-self: start;
    align-self: start;
}

#comp-k51jp6wm {
    position: relative;
    margin: 29px 0px 5px 0;
    left: 650px;
    grid-area: 5 / 1 / 6 / 2;
    justify-self: start;
    align-self: start;
}

#comp-k51jp727 {
    position: relative;
    margin: 0px 0px 40px 0;
    left: 650px;
    grid-area: 6 / 1 / 7 / 2;
    justify-self: start;
    align-self: start;
}

#comp-k51jp77p {
    position: relative;
    margin: 0px 0px 5px 0;
    left: 650px;
    grid-area: 7 / 1 / 8 / 2;
    justify-self: start;
    align-self: start;
}

#comp-k51jp7dd {
    position: relative;
    margin: 0px 0px 0px 0;
    left: 650px;
    grid-area: 8 / 1 / 9 / 2;
    justify-self: start;
    align-self: start;
}

#comp-k51jp5k3centeredContent {
    position: relative;
}

#comp-k51jp5k3inlineContent-gridContainer > * {
    pointer-events: auto;
}

#comp-k51jp5k3inlineContent-gridContainer > [id$="-rotated-wrapper"] {
    pointer-events: none;
}

#comp-k51jp5k3inlineContent-gridContainer > [id$="-rotated-wrapper"] > * {
    pointer-events: auto;
}

.btn {
  border-radius: 0;
  border-color: #22252A;
  border-width: medium;
  background-color: white;
  padding-top: 9px;
  font-family: 'raleway', sans-serif;
  font-weight: 500;
  color: #22252A;
  letter-spacing: 2px;
}

.btn:hover {
  background-color: #22252A;
  border-color: #22252A;
}

.col-sm-6 {
  padding-top: 15px;
  padding-bottom: 15px;
}
